<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <% allauthors.forEach(author=>{%>
        <div class="author-list">
            <a href="/authors/<%=author._id %>">
            <h3><%=author.name%></h3>
            </a>
            <!-- <h4><%=author.email%></h4> -->
        </div>
    <% })%>
</body>
</html>