<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Form</title>
</head>
<body>
    <form method="POST" action="/books/new">
        <input type="text" placeholder="title" name="title">
        <input type="text" placeholder="description" name="description">
        <input type="number", placeholder="pages" name="pages">
        <input type="text" placeholder="tags" name="tags">

        <select name="author">
            <% authoritems.forEach(author => { %>
                <option value="<%= author._id %>" ><%= author.name %></option>
            <% }) %>
        </select>

        <button type="submit">Submit</button>
    </form>
    
</body>
</html>