/* form{
    width: 
} */
#main{
    width: 25%;
    margin: 0 auto;
    margin-top: 20%;
}
#head{
    font-weight: bolder;
    font-size: 4rem;
}
#head2{
    font-weight: bolder;
    font-size: 4rem;
}