<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>booksList</title>
</head>
<body>
        <% include partials/header %>

    <% blogitems.forEach(blog => {%>
        <div class="blog-list">
            <% if(user && blog.user.equals(user._id)) %>
            <a href="/blogs/<%= blog._id %>">
                <h3><%= blog.title %></h3>
            </a>
        </div>
             
    <%}) %>
    <% include partials/footer %>
</body>
</html>